<%= simple_form_for @article, html: { :class => 'form-horizontal', :onsubmit=> 'return copyContent()', novalidate: true, id: 'article-form' } do |f| %>
  <%= f.error_notification %>
  <% if f.object.errors.any? %>
    <div id="error_explanation">
       <div class="alert alert-error">
         The form contains <%= pluralize(f.object.errors.count, "error") %>.
       </div>
      <ul>
       <% f.object.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
       <% end %>
     </ul>
    </div>
  <% end %>
    <article class="entry" id="article-entry" >
      <header>
          <h1 id="article-title" contenteditable="true" <%= f.object.title ? "" : 'class=placeholder' %>>
            <%= f.object.title ? f.object.title : "Article Title" %>
          </h1>
      </header>
      <hr>
      <section id="article-content" contenteditable="true" <%= f.object.content ? "" : 'class=placeholder' %>>
        <% if f.object.content? %>
          <%= sanitize f.object.content, attributes: %w(id class href src) %>
        <% else %>
          <p>Type your article here</p>
        <% end %>
      </section>
    </article>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                articles_path, :class => 'btn' %>
  </div>
  <script type="text/javascript">

    $('#article-content, #article-title').mousedown(function(){
      if($(this).hasClass('placeholder')) {
        var el = this;
        setTimeout(function() {
          var sel = window.getSelection();
          var range = range = document.createRange();
          range.setStart(el, 0);
          range.collapse(true);
          sel.removeAllRanges();
          sel.addRange(range);
        },2);
      }
    });
    $('#article-title').keydown(function(){
      if ( event.which == 13 ) {
        event.preventDefault();
      } else if(event.which != 16 && $(this).hasClass('placeholder')){
        $(this).removeClass('placeholder');
        $(this).text('');
      }
    });

    $('#article-title').blur(function(){
      if(!$(this).hasClass('placeholder') && ($.trim($(this).text()) == '')){
        $(this).text('Article Title');
        $(this).addClass('placeholder');
      }
    });

    $('#article-content').keydown(function(){
      if(!(nonInput.indexOf(event.which) >= 0) && $(this).hasClass('placeholder')){
        $(this).removeClass('placeholder');
        $('#article-content p:first').text('');
        setCaretToPos($('#article-content p:first'),0);
      }
    });

    $('#article-content').blur(function(){
      if(!$(this).hasClass('placeholder') && ($.trim($(this).text()) == '')){
        $(this).html('<p>Type your article here</p>');
        $(this).addClass('placeholder');
      }
    });

    grande.bind(document.querySelectorAll("#article-content"));
  </script>
<% end %>


