<%= simple_form_for @article, :html => { :class => 'form-horizontal', :onsubmit=> 'return copyContent()', novalidate: true } do |f| %>
  <%= f.error_notification %>
  <% if f.object.errors.any? %>
    <div id="error_explanation">
       <div class="alert alert-error">
         The form contains <%= pluralize(f.object.errors.count, "error") %>.
       </div>
      <ul>
       <% f.object.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
       <% end %>
     </ul>
    </div>
  <% end %>
    <article class="entry" id="article-entry" contenteditable="true">
      <header>
        <% if f.object.title? %>
          <h1 id="article-title"> <%= f.object.title %></h1>
        <% else %>
          <h1 id="article-title"> Title </h1>
        <% end %>
      </header>
      <section id="article-content">
        <% if f.object.content? %>
          <%= sanitize f.object.content, attributes: %w(id class href src) %>
        <% else %>
          <p> Body </p>
        <% end %>
      </section>
    </article>
    <%= f.input :title, :as => :hidden  %>
    <%= f.input :content, :as => :hidden %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                articles_path, :class => 'btn' %>
  </div>
  <script type="text/javascript">
    grande.bind(document.querySelectorAll("#article-entry"));
  </script>
<% end %>


